<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{707,708}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,708}}</string>
                <key>sourceSize</key>
                <string>{707,708}</string>
            </dict>
            <key>l-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,412},{408,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,408}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>l-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{408,708}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,708}}</string>
                <key>sourceSize</key>
                <string>{408,708}</string>
            </dict>
            <key>l-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{707,708}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,708}}</string>
                <key>sourceSize</key>
                <string>{707,708}</string>
            </dict>
            <key>l-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{408,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,408}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>l-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{408,708}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,708}}</string>
                <key>sourceSize</key>
                <string>{408,708}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shape-border.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d77229cfa719ff3a54c7a04fdd09ef:1/1$</string>
            <key>textureFileName</key>
            <string>shape-border.png</string>
        </dict>
    </dict>
</plist>
